In [1]:
print "Hola Mundo"

Hola Mundo

In [17]:
a = range(8)
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [54]:
dir()

['In',
 'Out',
 '_',
 '_16',
 '_17',
 '_18',
 '_20',
 '_21',
 '_22',
 '_23',
 '_3',
 '_50',
 '_51',
 '_53',
 '_6',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__name__',
 '__package__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'a',
 'b',
 'bandera',
 'c',
 'df',
 'exit',
 'get_ipython',
 'i',
 'j',
 'k',
 'pd',
 'quit',
 'result']

In [55]:
help(range)

Help on built-in function range in module __builtin__:

range(...)
    range(stop) -> list of integers
    range(start, stop[, step]) -> list of integers

    Return a list containing an arithmetic progression of integers.
    range(i, j) returns [i, i+1, i+2, ..., j-1]; start (!) defaults to 0.
    When step is given, it specifies the increment (or decrement).
    For example, range(4) returns [0, 1, 2, 3].  The end point is omitted!
    These are exactly the valid indices for a list of 4 elements.

In [21]:
b = [1,2]
b + a

[1, 2, 0, 1, 2, 3, 4, 5, 6, 7]

In [23]:
b.append(a)
b

[1, 2, [0, 1, 2, 3, 4, 5, 6, 7]]

In [24]:
for i in ['a','b']:
    print "hola " + str(i)

hola a
hola b

In [32]:
for j in range(22,29):
    print "valor " + str(j)

valor 22
valor 23
valor 24
valor 25
valor 26
valor 27
valor 28

In [53]:
c = []
for j in range(0,100,10):
    print "valor " + str(j)
    c.append(j)
c

valor 0
valor 10
valor 20
valor 30
valor 40
valor 50
valor 60
valor 70
valor 80
valor 90

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [50]:
bandera = False
i=0
result = []
while (not bandera):
    if i < 5:
        result.append('menor')
    elif i < 7:
        result.append('medio')
    else:
        result.append('grande')
        bandera = True
    i = i +1
result

['menor', 'menor', 'menor', 'menor', 'menor', 'medio', 'medio', 'grande']

In [4]:
import pandas as pd

df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : pd.Series([1, 2, 1, 2], dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo' })

In [3]:
df

   A          B  C  D      E    F
0  1 2013-01-02  1  1   test  foo
1  1 2013-01-02  1  2  train  foo
2  1 2013-01-02  1  1   test  foo
3  1 2013-01-02  1  2  train  foo

In [56]:
type(df)

pandas.core.frame.DataFrame